<div class="px-5 py-4">
  <h3 class="mb-5 fs-4 fw-medium">Crear Curso</h3>
  <form class="row" [formGroup]="courseForm">
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
      <mat-error>{{
        courseForm.get("name")?.errors | coursesFormValidations : "courseName"
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error>{{
        courseForm.get("description")?.errors
          | coursesFormValidations : "description"
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Seleccionar nivel de dificultad</mat-label>
      <mat-select formControlName="difficulty">
        <mat-option
          *ngFor="let difficulty of difficulties"
          [value]="difficulty"
          >{{ difficulty }}</mat-option
        >
      </mat-select>
      <mat-error>{{
        courseForm.get("difficulty")?.errors
          | coursesFormValidations
      }}</mat-error>
    </mat-form-field>
  </form>
  <div
    mat-dialog-actions
    class="pt-5 mt-2 border-top d-flex justify-content-end gap-2"
  >
    <button class="rounded-2 fs-6 fw-medium cancel-button" mat-dialog-close>
      Cancelar
    </button>
    <button class="rounded-2 fs-6 fw-medium save-button" (click)="onSave()">
      Guardar
    </button>
  </div>
</div>
