<div class="px-5 py-4">
    <h3 class="mb-5 fs-4 fw-medium">Crear Estudiante</h3>
    <form class="row" [formGroup]="studentForm">
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error>{{
          studentForm.get("firstName")?.errors | studentsFormValidations : "name"
        }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error>{{
          studentForm.get("lastName")?.errors | studentsFormValidations : "name"
        }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>{{
          studentForm.get("email")?.errors | studentsFormValidations : "email"
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Cel</mat-label>
        <input matInput formControlName="cel" />
        <mat-error>{{
          studentForm.get("cel")?.errors | studentsFormValidations : "cel"
        }}</mat-error>
      </mat-form-field>
      <ng-container formGroupName="course">
        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Seleccionar curso</mat-label>
          <mat-select formControlName="name" (selectionChange)="onCourseChange()">
            <mat-option *ngFor="let course of courses" [value]="course.name" (click)="getClassesByCourse(course.id)">{{ course.name }}</mat-option>
          </mat-select>
          <mat-error>{{
            studentForm.get("course")?.get("name")?.errors | studentsFormValidations : "courseName"
          }}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Seleccionar clase</mat-label>
          <mat-select formControlName="classNumber">
            <mat-option *ngFor="let class of classes" [value]="class.classNumber">{{ class.classNumber }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="displayHint">*Seleccionar el curso para habilitar el campo de clase</mat-hint>
          <mat-error>{{
            studentForm.get("course")?.get("classNumber")?.errors | studentsFormValidations : "classNumber"
          }}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Seleccionar estado</mat-label>
          <mat-select formControlName="isApproved">
            <mat-option [value]="'undefined'">Indefinido</mat-option>
            <mat-option [value]="true">Aprobado</mat-option>
            <mat-option [value]="false">Desaprobado</mat-option>
          </mat-select>
          <mat-error>{{
            studentForm.get("course")?.get("isApproved")?.errors | studentsFormValidations : "isApproved"
          }}</mat-error>
        </mat-form-field>
      </ng-container>

    </form>
    <div mat-dialog-actions class="pt-5 mt-2 border-top d-flex justify-content-end gap-2">
      <button class="rounded-2 fs-6 fw-medium cancel-button" mat-dialog-close>
        Cancelar
      </button>
      <button class="rounded-2 fs-6 fw-medium save-button" (click)="onSave()">
        Guardar
      </button>
    </div>
  </div>