<div class="px-5 py-4">
    <h3 class="mb-5 fs-4 fw-medium">Crear Estudiante</h3>
    <form class="row" [formGroup]="studentForm">
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error>{{
          studentForm.get("firstName")?.errors | formFieldValidations : "name"
        }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error>{{
          studentForm.get("lastName")?.errors | formFieldValidations : "name"
        }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>{{
          studentForm.get("email")?.errors | formFieldValidations : "email"
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Cel</mat-label>
        <input matInput formControlName="cel" />
        <mat-error>{{
          studentForm.get("cel")?.errors | formFieldValidations : "cel"
        }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Seleccionar curso</mat-label>
        <mat-select formControlName="course" [(ngModel)]="optionSelected" (ngModelChange)="changeValue()">
          <mat-option *ngFor="let option of courseOptions" [value]="option.courseName">{{ option.courseName }}</mat-option>
        </mat-select>
        <mat-error>{{
          studentForm.get("course")?.errors | formFieldValidations : "course"
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Valores disponibles</mat-label>
        <mat-select formControlName="classNumber" [(ngModel)]="valueSelected">
          <mat-option *ngFor="let value of validatedValues" [value]="value">{{ value }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Seleccionar estado</mat-label>
        <mat-select formControlName="isApproved">
          <mat-option value="{{undefined}}">Seleccionar estado</mat-option>
          <mat-option value="{{true}}">Aprobado</mat-option>
          <mat-option value="{{false}}">Desaprobado</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div mat-dialog-actions class="pt-5 mt-2 border-top d-flex justify-content-end gap-2">
      <button class="rounded-2 fs-6 fw-medium cancel-button" mat-dialog-close>
        Cancelar
      </button>
      <button class="rounded-2 fs-6 fw-medium save-button" (click)="onSave()">
        Guardar
      </button>
    </div>
  </div>