<div class="login-page">
  <div class="login-base">
    <div class="login">
      <div class="login-container">
        <h1><span class="logo">Student</span>Log</h1>
        <div class="form-container">
          <h2>Welcome Back</h2>
          <hr />
          <app-login-form />
          <div>
            <a href="#"> Iniciar sesión con Google </a>
          </div>
        </div>
      </div>
      <div class="signup-container">
        <h2>Hello, Student</h2>
        <hr />
        <p class="px-12">Registrá tus datos para acceder a todos tus beneficios.</p>
        <a href="#" class="px-12 py-2 rounded-full border-2 border-white font-semibold inline-block hover:text-indigo-500 hover:bg-white">Sign Up</a>
      </div>
    </div>
  </div>
</div>
