.login-page {
  min-height: 100vh;
  padding: 0.5rem 0;
  background-color: rgb(243 244 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-base  {
  width: 100%;
  padding: 0 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
}

.login {
  width: 66.666667%;
  max-width: 56rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.login-container {
  width: 60%;
  padding: 1.25rem 1.5rem;
}

.login-container h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: left;
}

.logo {
  color: rgb(55, 48, 163);
}

.form-container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.form-container h2 {
  color: rgb(55, 48, 163);
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.form-container hr {
  width: 2.5rem;
  border: solid 2px rgb(55, 48, 163);
  border-radius: 9999px;
  display: inline-block;
}

.form-container div {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
}

.form-container div a {
  color: rgb(107 114 128);
  font-weight: 500;
}

.signup-container {
  width: 40%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  background-color: rgb(55, 48, 163);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.signup-container h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.signup-container hr {
  width: 2.5rem;
  border: solid 2px white;
  border-radius: 9999px;
  display: inline-block;
}

.signup-container p {
  padding: 0 3rem;
}

.signup-container a {
  padding: .5rem 3rem;
  border: solid 2px white;
  border-radius: 9999px;
  color: white;
  font-weight: 600;
  display: inline-block;
}

.signup-container a:hover {
  color: rgb(55, 48, 163);
  background-color: white;
}
