<div class="detail-page">
  <div class="detail-base">
    <div class="detail">
      <div class="detail-img">
        <img alt="Student" />
      </div>
      <div class="detail-header">
        <h2 appHeaderFontSize>
          {{
            student && ([student.firstName, student.lastName] | displayFullname)
          }}
        </h2>
        <span>{{ student?.email }}</span>
      </div>
      <div class="detail-options">
        <button mat-icon-button disabled>
          <mat-icon>description</mat-icon>
        </button>
        <button mat-icon-button (click)="student && updateStudent(student)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="student && deleteStudent(student.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="personal-information">
      <h2 appHeaderFontSize>Información Personal</h2>
      <div>
        <p>
          <span>Curso:</span
          ><a [routerLink]="'/courses/' + student?.course?.courseId">{{
            student?.course?.name
          }}</a>
        </p>
        <p>
          <span>Clase:</span
          ><a [routerLink]="'/courses/' + student?.course?.courseId">{{
            student?.course?.classNumber
          }}</a>
        </p>
        <p>
          <span>Estado actual:</span
          >{{
            student?.course?.isApproved === null
            ? '---' 
            : student?.course?.isApproved
              ? "Aprobado"
              : "Desaprobado"
          }}
        </p>
      </div>
      <div>
        <p><span>Cel:</span>{{ student?.cel }}</p>
        <p><span>Fecha de inscripción:</span>{{ student?.createdAt | date }}</p>
      </div>
    </div>
  </div>
</div>
