<div class="detail-page">
  <div class="detail-base">
    <div class="detail">
      <div class="detail-header">
        <h2 appHeaderFontSize>
          {{ course?.name + " - " + classe?.classNumber }}
        </h2>
        <div class="detail-options">
          <button mat-icon-button disabled>
            <mat-icon>description</mat-icon>
          </button>
          <button mat-icon-button (click)="classe && updateClasse(classe)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="classe && deleteClasse(classe.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="detail-information">
        <p><span>Duración de cursada:</span>{{ (classe?.startDate | date) + " - " + (classe?.endDate | date) }}</p>
        <p><span>Días de cursada:</span>{{ classe?.day?.join(", ") }}</p>
        <p><span>Hora de cursada:</span>{{ classe?.startTime + " - " + classe?.endTime }}
        </p>
      </div>
      <div class="student-table">
        <app-student-table [students]="students" />
      </div>
    </div>
  </div>
</div>
