<div class="detail-page">
  <div class="detail-base">
    <div class="detail">
      <div class="detail-img">
        <img alt="Course" />
      </div>
      <div class="detail-header">
        <h2 appHeaderFontSize>
          {{ course?.name }}
        </h2>
        <span>{{ course?.difficulty }}</span>
      </div>
      <div *ngIf="(authUser$ | async)?.role === 'ADMIN'" class="detail-options">
        <button mat-icon-button disabled>
          <mat-icon>description</mat-icon>
        </button>
        <button mat-icon-button (click)="course && updateCourse(course)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="course && deleteCourse(course.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
