.td-class {
  text-align: end;
}

.view-detail {
  cursor: pointer;
}

.action-button {
  margin-left: 0.75rem;
  cursor: pointer;
}

.action-button:hover, .view-detail:hover {
  color: rgb(55, 48, 163, 0.95);
}

.sm-cell {
  width: 15%;
}


.md-cell {
  width: 20%;
}

.lg-cell {
  width: 23%;
}

.xl-cell {
  width: 27%;
}

.courses {
  padding: 0.2rem 0.5rem;
  margin-right: .5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 600;
}

.full-stack-dev {
  background-color: rgb(254 226 226);
}

.front-dev {
  background-color: rgb(219 234 254);
}

.back-dev {
  background-color: rgb(236 252 203);
}

.ux {
  background-color: rgb(237 233 254);
}

.marketing {
  background-color: rgb(255 237 213);
}

.data {
  background-color: rgb(220 252 231);
}

.undefined-case span {
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.row-class:hover {
  background-color: rgb(243 244 246);
}
