<table mat-table [dataSource]="students">
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef class="md-cell">Nombre</th>
    <td mat-cell *matCellDef="let student">
      {{ [student.firstName, student.lastName] | displayFullname }}
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef class="xl-cell">Email</th>
    <td mat-cell *matCellDef="let student">{{ student.email }}</td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef class="sm-cell">Fecha</th>
    <td mat-cell *matCellDef="let student">{{ student.createdAt | date }}</td>
  </ng-container>
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef class="lg-cell">Cursos</th>
    <td mat-cell *matCellDef="let student">
      <span
        [ngClass]="[
          student.courseName
            ? student.courseName.toLowerCase().split(' ').join('-')
            : '',
          'course'
        ]"
      >
        {{ student.courseName }}
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions" class="text-center">
    <th mat-header-cell *matHeaderCellDef class="sm-cell" ngClass="td-class">
      Más
    </th>
    <td mat-cell *matCellDef="let student" class="td-class">
      <mat-icon [routerLink]="'/students/' + student.id" class="view-detail"
        >read_more</mat-icon
      >
      <mat-icon
        *ngIf="(authUser$ | async)?.role === 'ADMIN'"
        [matMenuTriggerFor]="menu"
        class="action-button"
        >more_vert</mat-icon
      >
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>description</mat-icon>
          <span>Añadir nota</span>
        </button>
        <button mat-menu-item (click)="updateStudent(student)">
          <mat-icon>edit</mat-icon>
          <span>Editar datos</span>
        </button>
        <button mat-menu-item (click)="deleteStudent(student.id)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar estudiante</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="row-class"
  ></tr>
</table>
